contact-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    position: relative;
    background-color: #fff;
  }
  
  .input-field {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    font-size: 16px;
  }
  
  .btn {
    background-color: #007acc;
    color: #fff;
    width: 100%;
  }
  
  .btn:hover {
    background-color: #00508a;
  }
  body{
    background-color: #ffffff;
    background-size: cover;
  }

  footer {
    width: 100%;
    position: absolute;
    margin-bottom: 0%;
    background-color: darkkhaki;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }