/* nav {
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
  display: flex;
  justify-content:space-between ;
  align-items: center;
  
} */



nav ul {
  margin-bottom: 0;
}
nav ul li{
  display: inline;
  height: 100%;
}

.active {
  background-color: rgb(8, 172, 13); 
  
}

ul li a { 
  display: inline-flex;
  padding: 16px 16px;
  
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;  
  
 
}

ul li :hover{
  background-color: rgb(213, 89, 89);
  
}

div.container {
  display: inline-block;
  flex-wrap: wrap;  
  justify-content: space-between;
  gap : 10px;
  padding: 10px;
  

}

div.container div.column{
  flex: 1;
  max-width: calc(31.9%);
  flex-wrap: wrap;
  float: left;
  text-align: center;
  background-color: beige;
  margin: 10px;
}

button p {
  display: block;
  margin: 0 auto;
  color: rgb(0, 0, 0);
  width: 100%;
}

div.container div.column div.card{
  width: 100%;
  display: flex-box;
  align-self: center;
  justify-content: space-between;
}

div.container div.column div.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}


footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: darkkhaki;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 2%; /* Có thể điều chỉnh padding tùy ý */
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

#openPopUp {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.popup {
  margin: 70px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup img{ width: 100%;}
.popup h2 {
  margin-top: 0;
  color: #000000;
  font-family: Tahoma, Arial, sans-serif;
}
/* CSS cho theme light */
.film-title {
  color: black; /* Màu chữ cho theme light */
}

/* CSS cho theme dark */
.dark .film-title {
  color: white; /* Màu chữ cho theme dark */
}

/* .popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {color: #06D85F;}
.popup .content {
  max-height: 30%;
  overflow: auto;
} */

/* CSS OF FILMS */

.films-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;  
}

.film-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: beige;
  padding: 20px;
  border-radius: 10px;
}

img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
}
